jupyterlite-core
jupyterlab
jupyterlite-pyodide-kernel
jupyterlite-javascript-kernel
jupyterlab_miami_nights
ipywidgets
ipyevents
ipympl
ipycanvas
ipyleaflet
mako
autograd
bayespy
filterpy
scikit-learn
