jupyterlite-core
jupyterlab
jupyterlite-pyodide-kernel
jupyterlab_miami_nights
ipywidgets
ipyevents
ipympl
ipycanvas
ipyleaflet
mako
autograd
scikit-learn
bqplot

# jupyterlite-javascript-kernel
# bayespy
# filterpy
